/* ****************Root Variable**************** */
:root{
    --color-primary: #7380ec;
    --color-secondery: #4a964a;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-varient: #111e88;
    --color-dark-varient: #677483;
    --color-background: #F2F3F3;
    --color-Soft: lightgray;
    --color-1: #2f3240;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: 0;
    appearance: none;
    border: 0;
       
}

html{
    font-size: 14px;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    /* overflow-x: hidden; */
}
/* .arrow{
    color: blue;
    font-size: 2rem;
    position: fixed;
    left: 870px;
    top: 500px;
    display: none;
} */


/* id for js
.arrow.active{
    display: block;
}  */

.bg_img{
    background-image: url('images/bg.jpg');
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg_img .banner-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    color: var(--color-white);
    margin-top: 200px;
    font-size: 2.5rem;
    margin-left: 10rem;
    display: inline-block;
}
.bg_img .banner-text .text3{
    color: var(--color-primary);
    font-size: 2rem;
}
.bg_img .banner-text .name{
    color: var(--color-primary);
}
.bg_img .banner-text input{
    padding: 5px;
    background-color: var(--color-warning);
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-dark);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 4px 4px var(--color-primary);
    animation-name: hirebutton;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.bg_img .banner-text input:hover{
    background-color: var(--color-dark);
    color: white;
    box-shadow: none;
    border: 1px solid white;
}


@keyframes hirebutton {
    0%{
        color: white;
    }
    50%{
        color: black;
    }
    100%{
        color: white;
    }
    
}

.search2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    display: none;
}
.search2 input{
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-image: url('images/search.png');
    background-repeat: no-repeat;
    text-align: start;
    padding-left: 30px;
    background-position: 5px 6px;
    background-size: 25px;
    transition: all 0.3s ease;
}
.search2 input:hover{
    background-color: var(--color-info-light);
    border: var(--color-primary);
    
}


/*********************BANNER END*********************** */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 800px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}

/* header */
.header{
    background-color: rgba(47, 50, 64, .5);
    padding: 12px 0;
    line-height: 1.5;
}

.header .logo,
.header .nav{
    padding: 0 15px;
}
.header .logo span{
    color: var(--color-primary);
}
.header .logo a{
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
}


.header .nav ul li{
    display: inline-block;
    margin-left: 40px;
}
.header .nav ul li a{
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    padding: 10px 0;
    transition: all 0.3s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover{
    color: #f3a93d;
}
.nav-toggler{
    height: 34px;
    width: 44px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: none;
    margin-right: 15px;
}
.nav-toggler:focus{
    outline: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin: auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
    background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    transition: all 0.3s ease;
}
.nav-toggler span::before{
    transform: translateY(-6px);
}
.nav-toggler.active span::before{
    transform: rotate(45deg);
}
.nav-toggler span::after{
    transform: translateY(6px);
}
.nav-toggler.active span::after{
    transform: rotate(135deg);
}
/* float Clear */
.bg_img::after{
    display: table;
    clear: both;
    content: "";
}
/* *************************NAVBAR END************************** */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background: var(--color-white);
    border-radius: 15px;
    box-shadow: 3px 4px 10px black;
    transition: all 0.3s ease;
}
.about:hover{
    box-shadow: none;
}

.about .profile-pic{
    margin: 0 auto;
   
}

.about .profile-pic img{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px ;
}

.about .description{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    letter-spacing: 1px;
}

.about .description h2{
    font-weight: bold;
}

.about .description button{
    background: var(--color-primary);
    margin: 10px 0;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.about .description button:hover{
    background: #4a964a;
    color: #161515;
}
/* ******************************ABOUT END*********************** */

.skills{
    text-align: center;
    padding: 20px;
}
.skills .skill{
  margin-top: 10px;
}

.skills .skill_div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}


.box{
    margin: 20px;
    width: 250px;
    height: 250px;
}
.box_front{
    width: 250px;
    height: 250px;
    background: #FFF;
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 120px;
    border-radius: 6px;
    box-shadow: 4px 5px 10px #161515;

    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 1s linear;
}
.box:hover .box_front{
    transform: rotateY(-180deg);
}

.box_back{
    width: 250px;
    height: 250px;
    background: #08b3d1;
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 120px;
    border-radius: 6px;
    box-shadow: 4px 5px 10px #161515;

    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 1s linear;
}
.box:hover .box_back{
    transform: rotateY(0deg);
}


.box_front2{
    width: 250px;
    height: 250px;
    background: #FFF;
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 120px;
    border-radius: 6px;
    box-shadow: 4px 5px 10px #161515;

    transform: rotateX(0deg);
    backface-visibility: hidden;
    transition: transform 1s linear;
}
.box:hover .box_front2{
    transform: rotateX(-180deg);
}

.box_back2{
    width: 250px;
    height: 250px;
    background: salmon;
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 120px;
    border-radius: 6px;
    box-shadow: 4px 5px 10px #161515;

    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 1s linear;
}
.box:hover .box_back2{
    transform: rotateX(0deg);
}


.box_front3{
    width: 250px;
    height: 250px;
    background: #FFF;
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 120px;
    border-radius: 6px;
    box-shadow: 4px 5px 10px #161515;

    transform: rotateX(0deg);
    backface-visibility: hidden;
    transition: transform 1s linear;
}
.box:hover .box_front3{
    transform: rotateX(-180deg);
}

.box_back3{
    width: 250px;
    height: 250px;
    background: #29a58a;
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 120px;
    border-radius: 6px;
    box-shadow: 4px 5px 10px #161515;

    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 1s linear;
}
.box:hover .box_back3{
    transform: rotateX(0deg);
}


.underline{
    height: 2px;
    width: 200px;
    margin-left: 25px;
    margin-top: 10px;
    background-color: var(--color-primary);
    position: relative;
}
/* ***********************************SKILL END************************* */

.anim-box{
    background-color: var(--color-primary);
    width: 200px;
    height: 200px;
    margin: 25px;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 80px;

    border-radius: 6px;
    border: 2px solid var(--color-danger);

    position: relative;
    animation-name: div-anim;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}

@keyframes div-anim {
    0%{
        left: 0;
        top: 0;
    }
    50%{
        left: 670px;
        top: 0;
    }
    100%{
        top: 0;
        left: 0;
    }
}

/* ****************************FOOTER START*********************** */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(27, 27, 27);
    padding: 40px 0;
}

.footer .title{
    color: white;
    margin: 0 auto;
}

.footer .link{
    display: flex;
    gap: 30px;
    margin: 0 auto;
}
.footer .link li a{
    background: white;
    padding: 7px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
}
.footer .link li a:first-child{
    color: #1298F6;
}