/* ****************Root Variable**************** */
:root {
  --color-primary: #7380ec;
  --color-secondery: #4a964a;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-varient: #5372f0;
  --color-dark-varient: #677483;
  --color-background: #f2f3f3;
  --color-Soft: lightgray;
  --color-1: #2f3240;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
  appearance: none;
  border: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
}

/* **************************BANNER********************** */
.bg_img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* background-image: url('images/features-2.svg'); */
  /* height: 100vh; */
  /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.bg_img .banner-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  color: var(--color-white);
  margin-top: 200px;
  font-size: 2.5rem;
  margin-left: 10rem;
  display: inline-block;
}
.bg_img .banner-text .text3 {
  color: var(--color-primary);
  font-size: 2rem;
}
.bg_img .banner-text .name {
  color: var(--color-primary);
}
.bg_img .banner-text input {
  padding: 5px 10px;
  background-color: var(--color-warning);
  border-radius: 3px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-dark);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 4px 4px var(--color-primary);
  animation: hirebutton 2s infinite;
}
.bg_img .banner-text input:hover {
  background-color: var(--color-dark);
  color: white;
  box-shadow: none;
  border: 1px solid white;
}

@keyframes hirebutton {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

.search2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  display: none;
}
.search2 input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  background-image: url("");
  background-repeat: no-repeat;
  text-align: start;
  padding-left: 30px;
  background-position: 5px 6px;
  background-size: 25px;
  transition: all 0.3s ease;
}
.search2 input:hover {
  background-color: var(--color-info-light);
  border: var(--color-primary);
}

.arrow i {
  color: var(--color-primary);
  background: rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 7px;
  font-size: 1.5rem;
  position: fixed;

  right: 20px;
  bottom: 20px;
  z-index: 22;
  display: none;
}
.arrow.active i {
  display: block;
}
/* id for js */
.arrow.active {
  display: block;
}

/*********************NAVBAR SECTION*********************** */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-around;
}

/* header */
.header {
  background-color: rgba(47, 50, 64, 0.5);
  padding: 12px 0;
  line-height: 1.5;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}
.header .logo span {
  color: var(--color-primary);
}
.header .logo a {
  font-size: 30px;
  color: #fff;
  text-transform: capitalize;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}
.header .nav ul li a {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover {
  color: #f3a93d;
}
.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: none;
  margin-right: 15px;
}
.nav-toggler:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.nav-toggler span {
  height: 2px;
  width: 20px;
  background-color: var(--color-1);
  display: block;
  margin: auto;
  position: relative;
  transition: all 0.3s ease;
}
.nav-toggler.active span {
  background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
  transition: all 0.3s ease;
}
.nav-toggler span::before {
  transform: translateY(-6px);
}
.nav-toggler.active span::before {
  transform: rotate(45deg);
}
.nav-toggler span::after {
  transform: translateY(6px);
}
.nav-toggler.active span::after {
  transform: rotate(135deg);
}
/* float Clear */
.bg_img::after {
  display: table;
  clear: both;
  content: "";
}

/* *************************ABOUT SECTION************************** */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0px 50px 0px;
  padding: 20px;
  background: var(--color-white);
  transition: all 0.3s ease;
}
.about .profile-pic {
  margin: 0 auto;
}

.about .profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.about .description {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  letter-spacing: 1px;
}
.about .description .title {
  margin: 20px 0;
  font-size: 18px;
}
.about .description h2 {
  font-weight: bold;
}
.about .description .underline {
  width: 26%;
  margin: 0;
  margin-bottom: 5px;
  height: 2px;
  background-color: var(--color-danger);
}
.about .description button {
  margin: 20px 0;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  background: none;
  border: 2px solid var(--color-primary);
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.about .description button:hover {
  background: var(--color-primary);
  color: #fff;
}

/* ******************************SKILL SECTION*********************** */
.skills h1,
.service h1,
.contact-title {
  text-align: center;
  margin: 20px 0;
}
.skills .skill {
  margin-top: 10px;
}

.skills .skill_div,
.services {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.skills .skill_div .box {
  margin: 20px;
  width: 250px;
  height: 250px;
}
.skills .skill_div .box_front {
  width: 250px;
  height: 250px;
  background: #fff;
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 120px;
  border-radius: 6px;
  box-shadow: 2px 4px 5px #161515;

  transform: rotateY(0deg);
  backface-visibility: hidden;
  transition: transform 1s linear;
}
.skills .skill_div .box:hover .box_front {
  transform: rotateY(-180deg);
}

.skills .skill_div .box_back {
  width: 250px;
  height: 250px;
  background: #08b3d1;
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 120px;
  border-radius: 6px;
  box-shadow: 2px 4px 5px #161515;

  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 1s linear;
}
.skills .skill_div .box:hover .box_back {
  transform: rotateY(0deg);
}

.skills .skill_div .box_front2 {
  width: 250px;
  height: 250px;
  background: #fff;
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 120px;
  border-radius: 6px;
  box-shadow: 2px 4px 5px #161515;

  transform: rotateX(0deg);
  backface-visibility: hidden;
  transition: transform 1s linear;
}
.skills .skill_div .box:hover .box_front2 {
  transform: rotateX(-180deg);
}

.skills .skill_div .box_back2 {
  width: 250px;
  height: 250px;
  background: salmon;
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 120px;
  border-radius: 6px;
  box-shadow: 2px 4px 5px #161515;

  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 1s linear;
}
.skills .skill_div .box:hover .box_back2 {
  transform: rotateX(0deg);
}

.skills .skill_div .box_front3 {
  width: 250px;
  height: 250px;
  background: #fff;
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 120px;
  border-radius: 6px;
  box-shadow: 2px 4px 5px #161515;

  transform: rotateX(0deg);
  backface-visibility: hidden;
  transition: transform 1s linear;
}
.skills .skill_div .box:hover .box_front3 {
  transform: rotateX(-180deg);
}

.skills .skill_div .box_back3 {
  width: 250px;
  height: 250px;
  background: #29a58a;
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 120px;
  border-radius: 6px;
  box-shadow: 2px 4px 5px #161515;

  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 1s linear;
}
.skills .skill_div .box:hover .box_back3 {
  transform: rotateX(0deg);
}

.underline {
  height: 2px;
  width: 200px;
  margin-left: 25px;
  margin-top: 10px;
  background-color: var(--color-primary);
  position: relative;
}

/* ***********************************SERVICE SECTION************************* */
.service {
  background: none;
}
.service h1 {
  padding-top: 30px;
  color: var(--color-1);
}
.service .services .servicebox {
  width: 270px;
  height: 200px;
  background: #fff;
  margin: 20px 0 50px 0;
  padding: 15px 20px;
  box-shadow: 2px 4px 4px var(--color-dark);
  text-align: center;
  transition: all 0.3s ease-in;
}
.service .services .servicebox:hover {
  background: var(--color-info-dark);
  color: white;
  box-shadow: none;
}
.service .services .servicebox .card_1 h2 {
  margin-bottom: 10px;
}
.service .services .servicebox .card_1 p {
  font-size: 16px;
}

/* ****************************CONTACT SECTION********************* */
.mainContact {
  background: none;
  margin: 20px 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.mainContact .contact-desc {
  display: flex;
}
.mainContact .get-touch {
  width: 50%;
  margin: 0 auto;
  padding-left: 50px;
}
.mainContact .get-touch h2 {
  margin-bottom: 10px;
}
.mainContact .get-touch p {
  width: 90%;
  margin-bottom: 10px;
  font-size: 15px;
}
.easy-contact .allcont {
  display: flex;
  align-items: center;
  width: 100%;
}
.easy-contact .allcont i {
  color: var(--color-primary-varient);
  font-size: 20px;
}
.easy-contact .allcont .names {
  margin-left: 20px;
  width: 100%;
}
.easy-contact .allcont .names p {
  font-size: 13px;
  width: 100%;
}

.mainContact .message {
  width: 50%;
  margin: 0 auto;
  padding-right: 50px;
}
.mainContact .message h2 {
  margin-bottom: 10px;
}
.mainContact .message .name {
  border: 1px solid var(--color-dark);
  margin-bottom: 10px;
  width: 45%;
  padding: 7px 0;
}
.mainContact .message .email {
  border: 1px solid var(--color-dark);
  margin-bottom: 10px;
  width: 45%;
  padding: 7px 0;
  margin-left: 15px;
}
.mainContact .message .subject {
  border: 1px solid var(--color-dark);
  margin-bottom: 10px;
  width: 94%;
  padding: 7px 0;
}
.mainContact .message textarea {
  border: 1px solid var(--color-dark);
  width: 94%;
  height: 60px;
  resize: none;
}
.mainContact .message button {
  background: var(--color-primary);
  padding: 7px 10px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.mainContact .message button:hover {
  color: #fff;
}

/* ****************************FOOTER START*********************** */
.footer {
  background: rgb(47, 50, 64);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 60px;
}

.footer .title {
  color: white;
}
.footer .help {
  color: white;
}
.footer .help .underline {
  width: 70%;
  margin: 0;
  margin-bottom: 5px;
  height: 2px;
  background-color: var(--color-danger);
}
.footer .contact h3 {
  color: white;
}
.footer .contact .underline {
  width: 25%;
  margin: 0;
  margin-bottom: 5px;
  height: 2px;
  background-color: var(--color-danger);
}
.footer .contact .link {
  display: flex;
  gap: 30px;
}
.footer .contact .link li a i {
  background: rgb(66, 70, 90);
  padding: 7px;
  color: var(--color-primary-varient);
  border-radius: 50%;
  font-size: 20px;
  transition: all 0.3s ease;
}
.footer .contact .link li a i:hover {
  background: white;
  color: var(--color-danger);
}
