/* responsive desgin */

.nav-links{
    display: none;
}
.btn{
    display: none;
}
.icon{
    display: block;
}
.about{
    flex-direction: column;
    
}
.search input{
    display: none;
}
.search2{
    display: block;
    text-align: center;
}
.bg_img .banner{
    margin-top: 100px;
}